<%- include("template/cabecera") %>
  <main>
  <!-- Opciones -->
  <hr class="text-white-50">
  <div class="row m-3">
  <div class="col-xl-3 col-md-6 col-lg-6">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="images/restaurante1.jpg" alt="Se visualiza un restaurante llamado Restaurante La Escapada" title>
      <div class="card-body">
        <h4 class="text-center text-warning">Restaurante Filomena</h4>
        <p class="card-text text-center">Resturante de lujo especializada en 
          la comida mediterránea con pescado y carne de calidad.
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <img src="images/Estrella_amarilla.png" width="30" height="30" alt="Se visualiza una estrella amarilla" id="estrella" class="img-responsive">
      <img src="images/Estrella_amarilla.png" width="30" height="30" alt="Se visualiza una estrella amarilla" id="estrella" class="img-responsive">
      <img src="images/Estrella_amarilla.png" width="30" height="30" alt="Se visualiza una estrella amarilla" id="estrella" class="img-responsive">
      <img src="images/Estrella_amarilla.png" width="30" height="30" alt="Se visualiza una estrella amarilla" id="estrella" class="img-responsive">
      <img src="images/Estrella_amarilla.png" width="30" height="30" alt="Se visualiza una estrella amarilla" id="estrella" class="img-responsive">
            <button type="button" class="btn btn-outline-warning" >Mediterránea</button>
        
      </div>
      <div class="d-flex justify-content-center align-items-center p-2">
        <a class="btn btn-warning btn-sm" href="/filomena">Mirar</a>
      </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 col-lg-6">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="images/restaurante2.jpeg" alt="Se visualiza un restaurante llamado Restaurante La Escapada" title>
      <div class="card-body">
        <h4 class="text-center text-warning">Restaurante La Escapada</h4>
        <p class="card-text text-center">Restaurante tradicinal italiano donde se disfruta tanto del ambiente como de la maravillosa comida.</p>
        
        <div class="d-flex justify-content-between align-items-center">
          <img src="images/Estrella_amarilla.png" width="30" height="30" alt="Se visualiza una estrella amarilla" id="estrella" class="img-responsive">
        <img src="images/Estrella_amarilla.png" width="30" height="30" alt="Se visualiza una estrella amarilla" id="estrella" class="img-responsive">
        <img src="images/Estrella_amarilla.png" width="30" height="30" alt="Se visualiza una estrella amarilla" id="estrella" class="img-responsive">
        <img src="images/Estrella_amarilla.png" width="30" height="30" alt="Se visualiza una estrella amarilla" id="estrella" class="img-responsive">
        <img src="images/Estrella_amarilla.png" width="30" height="30" alt="Se visualiza una estrella amarilla" id="estrella" class="img-responsive">
              <button type="button" class="btn btn-outline-warning" >Mediterránea</button>
          
        </div>
        <div class="d-flex justify-content-center align-items-center p-2">
          <a class="btn btn-warning btn-sm" href="/escapada">Mirar</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 col-lg-6">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="images/restaurante3.webp" alt="Se visualiza un restaurante llamado Restaurante Miss" title>
      <div class="card-body">
        <h4 class="text-center text-warning">Restaurante Miss</h4>
        <p class="card-text text-center">Restaurante tradicinal asiático donde se disfruta tanto del ambiente como de la maravillosa comida.</p>
        
        <div class="d-flex justify-content-between align-items-center">
          <img src="images/Estrella_amarilla.png" width="30" height="30" alt="Se visualiza una estrella amarilla" id="estrella" class="img-responsive">
        <img src="images/Estrella_amarilla.png" width="30" height="30" alt="Se visualiza una estrella amarilla" id="estrella" class="img-responsive">
        <img src="images/Estrella_amarilla.png" width="30" height="30" alt="Se visualiza una estrella amarilla" id="estrella" class="img-responsive">
        <img src="images/Estrella_amarilla.png" width="30" height="30" alt="Se visualiza una estrella amarilla" id="estrella" class="img-responsive">
        <img src="images/Estrella_amarilla.png" width="30" height="30" alt="Se visualiza una estrella amarilla" id="estrella" class="img-responsive">
              <button type="button" class="btn btn-outline-warning" >Asiática</button>
          
        </div>
        <div class="d-flex justify-content-center align-items-center p-2">
          <a class="btn btn-warning btn-sm" href="/miss">Mirar</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 col-lg-6">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="images/restaurante4.jpg" alt="Se visualiza un restaurante llamado Restaurante Hamboor" title>
      <div class="card-body">
        <h4 class="text-center text-warning">Restaurante Hamboor</h4>
        <p class="card-text text-center">Restaurante americano donde se encuentra las mejores hamburguesas.</p>
        
        <div class="d-flex justify-content-between align-items-center">
          <img src="images/Estrella_amarilla.png" width="30" height="30" alt="Se visualiza una estrella amarilla" id="estrella" class="img-responsive">
        <img src="images/Estrella_amarilla.png" width="30" height="30" alt="Se visualiza una estrella amarilla" id="estrella" class="img-responsive">
        <img src="images/Estrella_amarilla.png" width="30" height="30" alt="Se visualiza una estrella amarilla" id="estrella" class="img-responsive">
        <img src="images/Estrella_amarilla.png" width="30" height="30" alt="Se visualiza una estrella amarilla" id="estrella" class="img-responsive">
        <img src="images/Estrella_amarilla.png" width="30" height="30" alt="Se visualiza una estrella amarilla" id="estrella" class="img-responsive">
              <button type="button" class="btn btn-outline-warning" >Americana</button>
          
        </div>
        <div class="d-flex justify-content-center align-items-center p-2">
          <a class="btn btn-warning btn-sm" href="/hamboor">Mirar</a>
        </div>
      </div>
    </div>
  </div>
</div>

  </main>
  
  <%- include("template/footer") %>