<%- include("../template/cabecera") %>
<div class="container ">
    <h1 class="d-flex flex-row justify-content-center alig-items-center">Añadir pedido</h1>
        <div class="d-flex flex-row justify-content-center alig-items-center">
            <form action="/pedido_3" method="post">
                <div class="form-group p-2">
                    <label for="restaurante" class="text-warning p-1 me-5">Nombre del restaurante:</label><br>
                    <select id="restaurante" class="form-control">
                        <option value="miss">Restaurante Miss</option>
                      </select>
                </div>
                <div class="form-group p-2">
                    <label for="comida" class="text-warning p-1 mr-5">Categoría de comida:</label><br>
                    <label>
                        <input class="form-check-input" type="radio" name="comida" value="Ramen"> Ramen
                      </label><br>
                      <label>
                        <input class="form-check-input" type="radio" name="comida" value="Sukiyaki"> Sukiyaki
                      </label>
                   
                </div>
                <div class="form-group p-2">
                    <label for="cantidad" class="text-warning p-1">Cantidad de comida:</label><br>
                    <input type="number"class="form-control" id="cantidad" name="cantidad"  size="50%">
                </div>
                <button type="submit" class="btn btn-warning m-2">Añadir</button>
            </form>
        </div>
</div>
    

<%- include("../template/footer") %>