<footer>
    <div class="footer">
      <!--footer-->
     
      <!-- Footer -->
      <footer class="text-center text-lg-start">
     

          <!-- Section: Links  -->
          <section >
              <div class="container text-center text-md-start mt-5" id="footer">
                  <!-- Grid row -->
                  <div class="row mt-3">
                      <!-- Grid column -->
                      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                          <!-- Content -->
                          <h6 class="text-uppercase fw-bold mb-4 text-warning p-3">
                              <i class="fas fa-gem"></i>OnlyFood
                          </h6>
                          <p>
                              Si desea contactar con nosotros puede hacerlo por nuestras redes sociales.
                          </p>
                           <!-- Redes sociales -->
                          <ul class="navbar-nav flex-row flex-wrap">
                            <li class="nav-item col-6 col-lg-auto p-3">
                              <a  href="https://twitter.com/comidas_1?lang=es" aria-label="Link de twitter"><i class="bi bi-twitter"></i></a>
                              <small class="d-md-none ms-2">Twitter</small>
                            </li>
                            <li class="nav-item col-6 col-lg-auto p-3">
                              <a href="https://www.instagram.com/comerlavanguardia/?hl=es" aria-label="Link de instagram"><i class="bi bi-instagram"></i></a>
                              <small class="d-md-none ms-2">Instragram</small>
                            </li>
                            <li class="nav-item col-6 col-lg-auto p-3">
                              <a href="https://www.tiktok.com/browse/food/?lang=es-es" aria-label="Link de tiktok"><i class="bi bi-tiktok"></i></a>
                              <small class="d-md-none ms-2">TikTok</small>
                            </li>
                            <li class="nav-item col-6 col-lg-auto p-3">
                              <a href="https://www.facebook.com/ComidaGenial/?locale=es_LA" aria-label="Link de facebook"><i class="bi bi-facebook"></i></a>
                              <small class="d-md-none ms-2">Facebook</small>
                            </li>
                          </ul>
                      </div>
                      <!-- Grid column -->

                    

                      <!-- Grid column -->
                      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                          <!-- Links -->
                          <h6 class="text-uppercase fw-bold mb-4 text-warning p-3">Contactos</h6>
                          <p><i class="fas fa-home me-3 text-secondary"></i>Sevilla, ES</p>
                          <p>
                              <i class="fas fa-envelope me-3 text-secondary"></i>
                              OnlyFood@gmail.com
                          </p>
                          <p><i class="fas fa-phone me-3 text-secondary"></i> + 34 666 666 666</p>
                          
                      </div>
                      <!-- Grid column -->
                  </div>
                  <!-- Grid row -->
              </div>
          </section>
          <!-- Section: Links  -->

          <!-- Copyright -->
          <div class="text-center p-4 text-light">
              © 2022 Copyright:
              <a class="text-reset fw-bold" href="/">OnlyFood.com</a>
          </div>
          <!-- Copyright -->
      </footer>
      <!-- Footer -->
  
               
    </div>
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
  <!-- <script src="/js/script_buscador.js"></script> -->
</body>

</html>