<%- include("../template/cabecera") %>

<main>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <img src="../images/usuario.png" class="img-fluid" alt="Se visualiza una estrella amarilla">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 m-3 d-flex align-items-center justify-content-center">
            <div class="d-flex flex-column">
                <button type="button" class="btn btn-warning mb-2">Mario_FR</button>
                <button type="button" class="btn btn-warning mb-2">Mario_FR@gmail.com</button>
                <button type="button" class="btn btn-warning mb-2">Tarjeta **** **** **** 0707</button>
                <button type="button" class="btn btn-warning mb-2">Calle Peral, Dos Hermanas</button>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 p-2">
            <div class="d-flex align-items-center justify-content-center">
                <div class="row">
                    <div class="col-12">
                        <a  class="btn btn-warning btn-block" href="/pedido">Pedidos</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 p-2">
            <div class="d-flex align-items-center justify-content-center">
                <div class="row">
                    <div class="col-12">
                        <a  class="btn btn-warning btn-block" href="/reserva">Reservas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
  <%- include("../template/footer") %>